#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NAV  1
#define NUM  2

/ {
       keymap {
              compatible = "zmk,keymap";
 
              default_layer {
                 bindings = <
                     &kp BSLH      &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                                                                     &kp N6        &kp N7        &kp N8        &kp N9            &kp N0        &kp MINUS
                     &kp LGUI      &kp Q         &kp W         &kp E         &kp R         &kp T                                                                                      &kp Y         &kp U         &kp I         &kp O             &kp P         &kp LBKT
                     &kp LALT      &kp A         &kp S         &kp D         &kp F         &kp G                                                                                      &kp H         &kp J         &kp K         &kp L             &kp SEMI      &kp SQT
                     &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B                       &mo NUM       &kp RCTRL     &kp C_VOL_DN  &kp C_VOL_UP         &kp N         &kp M         &kp COMMA     &kp PERIOD        &kp SLASH     &kp RBKT
                                   &kp LCTRL     &kp LALT      &kp LGUI      &kp SPACE                   &lt NAV SPACE &mt LGUI DEL  &kp TAB       &kp TAB       &kp ENTER  &kp BSPC                &kp LCTRL     &kp CARET     &kp AMPS          &kp QMARK
                                                                                                                       &kp ESC       &kp ESC 
                     >;
              };
              nav_layer {
                 bindings = <
                     &trans        &kp F1        &kp F2        &kp F3               &kp F4        &kp F5                                                                                            &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &trans
                     &trans        &trans        &kp LG(LBKT)  &kp UP               &kp LG(RBKT)  &kp LC(G)                                                                                         &trans        &kp N7        &kp N8        &kp N9        &kp KP_MINUS  &trans
                     &trans        &trans        &kp LEFT      &kp DOWN             &kp RIGHT     &kp LA(LG(G))                                                                                     &trans        &kp N4        &kp N5        &kp N6        &kp KP_PLUS   &trans
                     &kp LSHFT     &trans        &trans        &kp LA(LG(C))        &kp LA(LG(V)) &trans                      &kp F11       &kp F12       &bt BT_CLR &bt BT_SEL 0                   &trans        &kp N1        &kp N2        &kp N3        &kp ENTER     &trans
                                   &trans        &trans        &kp LA(LS(EQUAL))    &kp LA(EQUAL)               &trans        &trans        &trans        &trans     &bt BT_SEL 1     &trans        &trans        &trans        &kp KP_DOT    &kp ENTER
                                                                                                                                            &trans        &trans    
                     >;
              };
              num_layer {
                 bindings = <
                     &trans        &trans        &kp KP_NUM    &kp KP_DIVIDE &kp KP_MULTIPLY      &kp STAR                                                                                          &trans        &kp KP_NUM    &kp KP_DIVIDE &kp KP_MULTIPLY     &kp STAR      &trans
                     &trans        &trans        &kp N7        &kp N8        &kp N9               &kp KP_MINUS                                                                                      &trans        &kp N7        &kp N8        &kp N9              &kp KP_MINUS  &trans
                     &trans        &trans        &kp N4        &kp N5        &kp N6               &kp KP_PLUS                                                                                       &trans        &kp N4        &kp N5        &kp N6              &kp KP_PLUS   &trans
                     &trans        &trans        &kp N1        &kp N2        &kp N3               &kp ENTER                   &trans        &bt BT_CLR        &bt BT_CLR &bt BT_SEL 0                   &trans        &kp N1        &kp N2        &kp N3              &kp ENTER     &trans
                                   &trans        &kp N0        &kp N0        &kp KP_DOT                         &trans        &trans        &trans        &trans     &bt BT_SEL 1       &trans                    &kp N0        &kp N0        &kp KP_DOT          &kp ENTER
                                                                                                                                            &trans        &trans    
                     >;
              };
       };
};
